<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Feedback Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="feedback-form">
    <!-- <h1>Feedback Form</h1> -->
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Number</ion-label>
      <ion-input [(ngModel)]="number" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-radio-group [(ngModel)]="gender">
        <ion-item>
          <ion-label>Male</ion-label>
          <ion-radio slot="start" value="male"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio slot="start" value="female"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Feedback</ion-label>
      <ion-textarea [(ngModel)]="feedback" rows="6"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="submit-button" (click)="submit()">Submit</ion-button>
</ion-content>
