<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ancient History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="./assets/back.png" routerLink="/tabs/tab1" alt="back" class="back-img">
    <ion-card-header>
      Greco-Persian Wars
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/card1-2.webp" alt="Profile Image" class="profile-img">
      Greco-Persian Wars, (492–449 BCE), series of wars fought by Greek states and Persia over a period of almost half a
      century. The fighting was most intense during two invasions that Persia launched against mainland Greece between
      490 and 479.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Marcus Aurelius
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/card1-1.webp" alt="Profile Image" class="profile-img">
      Marcus Aurelius (born April 26, 121 CE, Rome [Italy]—died March 17, 180, Vindobona [Vienna, Austria] or Sirmium,
      Pannonia) Roman emperor (161–180), best known for his Meditations on Stoic philosophy. Marcus Aurelius has
      symbolized for many generations in the West the Golden Age of the Roman Empire.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Stone Age
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/card1-3.webp" alt="Profile Image" class="profile-img">
      The Stone Age was the prehistoric cultural stage, or level of human development, that was characterized by the
      creation and use of stone tools. It began some 3.3 million years ago. Humans created four types of tools during
      the Stone Age: pebble tools; bifacial tools, or hand-axes; flake tools; and blade tools.
    </ion-card-content>
  </ion-card>

</ion-content>