img{
    height: 320px;
    width:320px;
}
ion-card-header{
    text-transform: uppercase;
    font-weight:900;
    font-size: large;
}

ion-header {
    ion-toolbar {
      --ion-color-base: #5D5C61; 
      --ion-color-primary: #379683; 
      --ion-color-secondary: #7395AE; 
      font-family: 'Arial', sans-serif; 
    }
  }
  
  ion-content {
    --ion-background-color: black;
    font-family: 'Arial', sans-serif; 
  }
  
  ion-card {
    background: rgb(197,153,86);
    background: radial-gradient(circle, rgba(197,153,86,1) 0%, rgba(78,54,20,1) 100%);
    margin: 10px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  ion-card-header {
    color: black; 
    font-weight: bold;
  }
  
  ion-card-content {
    color: black;
     
    padding: 16px;
  }
  
  .profile-img {
    height:220px;
    width: 100%; 
    border-radius: 8px; 
    font-family: 'Arial', sans-serif;
  }
  .back-img{
    float:left;
    margin: 10px;
    height:40px;
    width:40px;
    border: 2px solid #d58316;
    border-radius: 50%;
}
  