<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Medieval History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="./assets/back.png" routerLink="/tabs/tab1" alt="back" class="back-img">
    <ion-card-header>
      Delhi Sultanate (1206-1526AD)
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/card2-1.jpg" alt="Profile Image" class="profile-img">
      After death of Mohammed Ghori there were many contenders for throne, out of which Qutb-ud-din Aibak ascended
      throne and started slave dynasty rule. The Muslim invasions into India had ultimately resulted in the
      establishment of Delhi Sultanate which existed from A.D. 1206 to 1526. Five different dynasties – the Slave,
      Khalji, Tughlaq, Sayyids
      and Lodis – ruled under the Delhi Sultanate
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Mughal Empire
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/card2-2.jpg" alt="Profile Image" class="profile-img">
      Babur was the founder of the Mughal empire which was established in 1526 after Babur defeated Ibrahim Lodi in the
      first battle of Panipat.
      Thus a new epoch and a new empire in India began, lasting for nearly three centuries beginning from 1526 to 1857.
      Six major rulers of this dynasty, Babur, Humayun, Akbar, Jahangir, Shah Jahan and Aurangzeb, known as the “Great
      Mughals”, left their mark on Indian
      history. The empire declined after the death of Aurangzeb in 1707.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Trade and economy
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/card2-3.jpg" alt="Profile Image" class="profile-img">
      The expansion of population, greater agricultural productivity and relative political stability laid the
      foundations for the medieval "Commercial Revolution" in the 11th century. People with surplus cash began
      investing in commodities like salt, pepper and silk at faraway markets
    </ion-card-content>
  </ion-card>

</ion-content>