<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Arts History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="./assets/back.png" routerLink="/tabs/tab1" alt="back" class="back-img">
    <ion-card-header>
      Giorgio Vasari
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/card4-1.jpg" alt="Profile Image" class="profile-img">
      Giorgio was a Mannerist painter who was highly regarded both as a painter and architect in his day, but rather
      less so in later centuries. He was effectively what would now be called the minister of culture to the Medici
      court in Florence, and the Lives promoted, with enduring success, the idea of Florentine superiority in the visual
      arts.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Nebamun
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/card4-2.jpg" alt="Profile Image" class="profile-img">
      Nebamun is known today because of the 1820 discovery of the richly-decorated Tomb of Nebamun on the west bank of
      the Nile at Thebes.Although the exact location of that tomb is now lost, a number of wall paintings from the
      tomb were acquired by the British Museum where they are now on display.They are considered to be one of that
      museum's greatest treasures.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Mask of Tutankhamun
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/card4-3.jpg" alt="Profile Image" class="profile-img">
      The mask of Tutankhamun is a gold funerary mask of the 18th-dynasty ancient Egyptian pharaoh Tutankhamun (reigned
      1334–1325 BC). After being buried for over 3,000 years, it was excavated by Howard Carter in 1925 from tomb KV62
      in the Valley of the Kings and is now in the Egyptian Museum in Cairo.
    </ion-card-content>
  </ion-card>

</ion-content>