<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Modern History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="./assets/back.png" routerLink="/tabs/tab1" alt="back" class="back-img">
    <ion-card-header>
      Egyptian Painting and Tomb Walls
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/art1.jpg" alt="Profile Image" class="profile-img">
      In Ancient Egypt the tomb walls of the rich and powerful were often filled with paintings. These paintings were
      there to help the person in the afterlife. They often depicted the person buried passing into the afterlife.
      They would show scenes of this person happy in the afterlife. In one painting the man buried is shown hunting
      and his wife and son are in the picture.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Roman Painting
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/art2.jpg" alt="Profile Image" class="profile-img">
      The walls of the homes of wealthy Romans were often decorated with paintings. These paintings were frescos
      painted directly on the walls. Most of these paintings have been destroyed over time, but some of them were
      preserved in the city of Pompeii when it was buried by the eruption of a volcano.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Terracotta Army
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/art3.jpeg" alt="Profile Image" class="profile-img">
      The Terracotta Army is a fascinating aspect of Ancient Chinese art. It was created for the burial of the first
      Emperor of China, Qin Shi Huang, in order to protect him in the afterlife. It consists of thousands of
      sculptures that make up an army of soldiers. There were sculptures of over 8,000 soldiers and 520 horses in the
      terracotta army. These weren't tiny sculptures either. All 8,000 soldiers were life-sized! They had details too,
      including uniforms, weapons, armor, and each soldier even had his own unique face.
    </ion-card-content>
  </ion-card>

</ion-content>