<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Art History(Kids)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Art History(Kids)</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      Japanese art
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/kid-1.jpg" alt="Profile Image" class="profile-img">
      Japanese art consists of a wide range of art styles and media that includes ancient pottery, sculpture, ink
      painting and calligraphy on silk and paper, ukiyo-e paintings and woodblock prints, ceramics, origami, bonsai, and
      more recently manga and anime
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Enamels
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/kid-2.jpg" alt="Profile Image" class="profile-img">
      During the Meiji era, Japanese cloisonné enamel reached a technical peak, producing items more advanced than any
      that had existed before. The period from 1890 to 1910 was known as the "Golden age" of Japanese enamels.
      Artists experimented with pastes and with the firing process to produce ever larger blocks of enamel, with less
      need for cloisons (enclosing metal strips).
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Metalwork
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/kid-3.jpg" alt="Profile Image" class="profile-img">
      The Terracotta Army is a fascinating aspect of Ancient Chinese art. It was created for the burial of the first
      Emperor of China, Qin Shi Huang, in order to protect him in the afterlife. It consists of thousands of
      sculptures that make up an army of soldiers. There were sculptures of over 8,000 soldiers and 520 horses in the
      terracotta army. These weren't tiny sculptures either. All 8,000 soldiers were life-sized! They had details too,
      including uniforms, weapons, armor, and each soldier even had his own unique face.
    </ion-card-content>
  </ion-card>

</ion-content>
