<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Upcomming Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      African Objects in European Museums: Issues of Restitution in Ghana
    </ion-card-header>

    <ion-card-content>
      Ghana’s post-independence governments have made a number of requests for the return of looted and illegally
      acquired Ghanaian cultural objects in the collections of European museums. While the majority of those requests
      were denied, a few were honoured. This talk...
      <br>
      <ion-button (click)="event1()">View Event</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      RCP Museum Taster tour – history
    </ion-card-header>

    <ion-card-content>
      Explore the Royal College of Physicians (RCP) 500-year history with an expert guide. Date: 7th February 2024,
      1:30-2 pm. Location: Royal College of Physicians Led by a member of the archives, heritage library and museum
      team, this guided tour journeys...
      <br>
      <ion-button (click)="event2()">View Event</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      The Women’s Art Collection: Artworks and Artists in Context, Murray Edwards College
    </ion-card-header>

    <ion-card-content>
      The Women’s Art Collection: Artworks and Artists in Context Location: Murray Edwards College, University of
      Cambridge Date: 15 March 2024 Join us for a one-day in-person conference showcasing research by academics,
      researchers, artists, curators and writers to deepen understandings of...
      <br>
      <ion-button (click)="event3()">View Event</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Leighton House Courses: Rethinking the Arts and Crafts and Aestheticism
    </ion-card-header>

    <ion-card-content>
      From Morris wallpapers, to Voysey chairs and De Morgan ceramics, the artists and designers of the late 19th
      century Arts and Crafts and Aesthetic movements created some of the most beautiful and iconic objects ever
      produced in Britain. Join Dr Emma...
      <br>
      <ion-button (click)="event4()">View Event</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>